{% extends 'base.html.twig' %}

{% block title %}Authors List
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card">
					<div class="card-header head-color">
						<h1>Authors in Library</h1>
					</div>
					<div class="card-body bck-light">
						List order by:
						<form action="{{ path('author_index')}}" method="GET" class="sort-form">
							<div class="btn-group">
								<select name="sort_by" class="btn btn-outline-dark dropdown-toggle">
									<option value="default">default</option>
									<option value="sort_by_name_asc" {% if sortBy=='sort_by_name_asc' %} selected {% endif %}>name a-z</option>
									<option value="sort_by_name_desc" {% if sortBy=='sort_by_name_desc' %} selected {% endif %}>name z-a</option>
									<option value="sort_by_surname_asc" {% if sortBy=='sort_by_surname_asc' %} selected {% endif %}>surname a-z</option>
									<option value="sort_by_surname_desc" {% if sortBy=='sort_by_surname_desc' %} selected {% endif %}>surname z-a</option>
								</select>
								<button type="submit" class="btn btn-sm">Sort IT!</button>
								<a href="{{ path('author_index')}}" class="btn btn-sm">
									<i class="fa fa-eraser" aria-hidden="true"></i>
								</a>
							</div>
						</form>

						<ul class="list-group bck">
							{% for author in authors %}
								<li class="bck list-group-item list-group-item-dark">
									<div class="list-group-item__line">
										<span>
											{{author.name}}
											{{author.surname}}
										</span>
										<div class="list-group-item__line__buttons">
											<a href="{{ path('author_edit', {id: author.id}) }}" class=" edit btn btn-info">
												<i class="fa fa-pencil" aria-hidden="true"></i>
											</a>
											<form action="{{ path('author_delete', {id: author.id}) }}" method="POST">
												<input type="hidden" name="token" value="{{ csrf_token('create_author_hidden_index') }}"/>
												<button type="submit" class="delete btn btn-danger">
													<i class="fa fa-trash" aria-hidden="true"></i>
												</button>
											</form>
										</div>
									</div>
									{% if author.books|length > 0 %}
									<h4 class="center-bedge">
										<span class="pink badge badge-pill badge-secondary">Author's books</span>
									</h4>
									<ul class="list-group ">
										{% for book in author.books %}
											<li class="list-group-item bck-light">{{book.title}}</li>
										{% endfor %}
									</ul>
									{% endif %}
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
