{% extends 'base.html.twig' %}

{% block title %}Books List{% endblock %}


{% block body %}
    <h1>Books in Library ✅</h1>
    <p>List:</p>
    <table>
        <tr>
            <th>Filter</th>
            <th>Drop Filter</th>
        </tr>
        <tr>
            <td>
                <form action="{{ path('book_index')}}" method="GET">
                    <select name="filter">
                        <option value="0">All</option>
                        {% for author in authors %}
                        <option value="{{author.id}}" {% if authorID == author.id %} selected {% endif %}>{{author.name}} {{author.surname}}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">Filter</button>
                </form>
            </td>
            <td>
                <a href="{{path('book_index')}}"> x</a>
            </td>
        </tr>
    </table>
        <table>
           <tr>
                <th>Title</th>
                <th>Author Name</th>
                <th>Author Surname</th>
                <th></th>
                <th></th>
            </tr>
    {% for book in books %}
        <tr>
            <td>{{book.title}} </td>
            <td>{{book.author.name}} </td>
            <td>{{book.author.surname}} </td>
            <td><a href="{{ path('book_edit', {id: book.id}) }}">EDIT</a></td>
            <td>
                <form action="{{ path('book_delete', {id: book.id}) }}" method="POST">
                    <input type="hidden" name="token" value="{{ csrf_token('create_author_hidden_index') }}"/>
                    <button type="submit">DELETE</button>
                </form>
            </td>
        </tr>
    {% endfor %} 
    </table>
{% endblock %}

 